.model-tab {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  padding: 20px;

  .readonly-checkbox-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2px 5px;
    margin-top: 0px;

  }

  h1 {
    margin-bottom: 20px;
  }

  label,
  >div {
    // Ensuring it only targets direct child divs
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    select,
    input[type="range"] {
      margin-left: 10px;
    }
  }
}