.model-tab {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  padding: 20px;

  .readonly-checkbox-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2px 5px;
  }

  .range-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
}