// Variables  
$spacing-xs: 5px;  
$spacing-sm: 5px;  
$border-radius: 5px;  
$min-dropdown-width: 200px;

// Mixins  
@mixin button-base {  
  background-color: var(--color-background-primary);  
  color: var(--color-text-primary);  
  border: 2px;  
  padding: $spacing-xs;  
  border-radius: $border-radius;  
  cursor: pointer;

  &:disabled {  
    background-color: var(--color-background-secondary);  
    cursor: not-allowed;  
  }  
}

// Styles  
.sidebar-buttons {  
  display: flex;  
  justify-content: space-between;  
  gap: $spacing-sm;  
  margin-bottom: 2px;

  &__search {  
    background-color: var(--color-background-primary);  
    color: var(--color-text-primary);  
    flex-grow: 1;  
    padding: $spacing-sm;  
    border: 1px solid var(--color-border-light);  
    border-radius: $border-radius;  
    outline: none;

    &:focus {  
      border-color: var(--color-background-primary);  
    }  
  }

  .new-conversation-btn,  
  .search-btn {  
    @include button-base;  
    flex: 1;  
  }  
}

.new-conversation {  
  &-container {  
    position: relative;  
    display: inline-block;  
  }

  &-options {  
    position: absolute;  
    background-color: var(--color-background-primary);  
    list-style: none;  
    padding: 0;  
    margin: 0;  
    border: 1px solid var(--color-border-light);  
    border-radius: $border-radius;  
    left: 0;  
    right: 0;  
    z-index: 100;  
    min-width: $min-dropdown-width;

    li {  
      padding: $spacing-xs $spacing-sm;  
      cursor: pointer;  
      transition: background-color 0.2s ease;

      &:hover {  
        background-color: var(--color-background-secondary);  
      }  
    }  
  }  
}  