// Modal.scss

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: black;
  z-index: 999;

  // Use flexbox for centering
  display: flex;
  justify-content: center; // Horizontal centering
  align-items: center; // Vertical centering
}

.modal-container {
  width: 300px;
  padding: 20px;
  background: #b5b5b5;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  // Prevent events from propagating to modal-overlay
  &:hover {
    cursor: default;
  }
}

.modal-button-container {
  display: flex;
  justify-content: flex-end; // Align buttons to the right
}

.modal-button {
  background: #353535;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: #454545;
  }
}
